* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    padding: 0 1em;
    max-width: 60rem;
    margin: 0 auto;
}

header,
footer,
.card,
#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    margin: 2rem 0;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}

.card {
    background-color: lightblue;
    padding: 1rem;
    border-radius: 3%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card img {
    width: 100%;
    border-radius: 50%;
}

img.svg {
    max-width: 70%;
}

img.gif {
    max-width: 15%;
}

/* Tablets */
@media (min-width: 30rem) {
    .card {
        background-color: lightcoral;
        width: 30%;
    }
}

/* Desktop */
@media (min-width: 45rem) {
    #container {
        gap: 2rem;
    }

    .card {
        background-color: lightgreen;
        width: 20%;
    }
}