* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightcoral;
}

main {
    background-color: lightgreen;
}

footer {
    background-color: lightblue;
}

div.banner {
    display: flex;
    justify-content: center;
}

div.banner img {
    max-height: 25vh;
}