* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    padding: 0 1em;
    max-width: 60rem;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em gray, 0 0 0.2em gray;
    background-image: url('https://media.gq.com/photos/5af3414ba8907e135c645013/16:9/pass/rick-and-morty-season-4-gq.jpg');
    background-attachment: fixed;
    background-size: cover;
}

header,
footer,
.card,
#container {
    display: flex;
}

header,
footer {
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
    background-color: rgba(32, 32, 32, 0.5);
    padding: 0.5rem;
    border-radius: 1rem;
}

#container {
    margin: 2rem 0;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: rgba(32, 32, 32, 0.5);
    padding: 1rem;
    border-radius: 5rem;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    border-radius: 50%;
}

img.svg {
    max-width: 70%;
}

img.gif {
    max-width: 15%;
}

a {
    color: whitesmoke;
}

/* Tablets */
@media (min-width: 30rem) {
    .card {
        width: 45%;
    }

    body {
        font-size: 1.2rem;
    }
}

/* Desktop */
@media (min-width: 45rem) {
    #container {
        gap: 2rem;
    }

    .card {
        width: 30%;
    }

    body {
        font-size: 1rem;
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        background-image: url('https://programminginsider.com/wp-content/uploads/2020/05/rickmorty.jpg');
    }
}