* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    padding: 0 1em;
    max-width: 60rem;
    margin: 0 auto;
    font-family: 'Lora', serif;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em gray, 0 0 0.2em gray;
    background-image: url('../images/light-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
}

h1,
h2,
strong,
footer p {
    font-family: 'Montserrat', sans-serif;
}

header,
main,
footer,
.card,
#container {
    display: flex;
}

header,
main,
footer {
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
}

main {
    flex-direction: column;
    gap: 2rem;
}

footer p {
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
    background-color: rgba(32, 32, 32, 0.5);
    padding: 0.5rem;
    border-radius: 1rem;
}

#container {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: rgba(32, 32, 32, 0.5);
    padding: 1rem;
    border-radius: 3rem;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    border-radius: 50%;
}

#container .card {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img.svg {
    max-width: 70%;
}

img.gif {
    max-width: 15%;
}

a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

#toggle-theme {
    cursor: pointer;
}

.light-mode {
    background-image: url('../images/light-bg.jpg');
}

.dark-mode {
    background-image: url('../images/dark-bg.jpg');
}

/* Tablets */
@media (min-width: 30rem) {
    #container .card {
        width: 45%;
    }

    #container {
        justify-content: space-between;
    }
}

/* Desktop */
@media (min-width: 50rem) {
    #container {
        gap: 2rem;
    }

    #container .card {
        width: 30%;
    }

    body {
        font-size: 1.2rem;
    }

    footer {
        font-size: 2rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url('../images/dark-bg.jpg');
    }
}